<script lang="ts">
  import { onMount } from "svelte";

  let ws: WebSocket;
  type State = "WritingPrompt" | "GettingChunk";

  type RequestType = "NewSession" | "ChangeSystemMessage" | "Prompt"
  
  type WebsocketRequest = {
    request_type: RequestType,
    prompt?: string
  }

  type ResponseType = "Chunk" | "Done"
  type WebsocketResponse = {
    response_type: ResponseType,
    prompt?: string
  }

  let prompt = "";
  let system_message =
    "You are an AI assistant whose purpose is to answer questions truthfully." +
    "\nYour answering style needs to emulate that of an elderly Eastern European woman who is very kind, wise and into bodybuilding." +
    "\nAll your answers are short." +
    "\nYour name is BuffBabushka.";
  let curr_state: State = "WritingPrompt";
  let message_history: string[] = [];
  let response_chunk: string = "";

  function reset_after_new_session() {
    curr_state = "WritingPrompt";
    message_history = [];
    prompt = "";
    set_system_message()
  }

  function set_system_message() {
    let request: WebsocketRequest = {
      request_type: "ChangeSystemMessage", prompt: system_message
    }
    ws.send(JSON.stringify(request));
  }
  
  function request_new_session(sock: WebSocket) {
    let message: WebsocketRequest = { request_type: "NewSession" };
    sock.send(JSON.stringify(message));
    reset_after_new_session();
  }
  function onChangeWs(sock: WebSocket) {
    console.log("onchangews");
    if (!sock) {
      return;
    }
    if (sock.readyState === WebSocket.OPEN) {
      reset_after_new_session();
    } else {
      sock.onopen = () => reset_after_new_session();
    }

    sock.onmessage = (ev: MessageEvent<string>) => {
      if (ev.type !== "message" || typeof ev.data !== "string") {
        return;
      }
      let message = JSON.parse(ev.data) as WebsocketResponse;
      switch (message.response_type) {
        case "Chunk": {
          response_chunk = message.prompt ?? "";
          break;
        }
        case "Done": {
          response_chunk = "";
          message_history = message_history.concat([message.prompt ?? ""]);
          curr_state = "WritingPrompt";
          document.getElementById("inputPrompt")?.focus()
          break;
        }
      }
    };
  }
  function new_session() {
    request_new_session(ws)
  }
  function submitPrompt() {
    let message: WebsocketRequest = { request_type: "Prompt", prompt };
    message_history = message_history.concat([prompt]);
    ws.send(JSON.stringify(message));
    curr_state = "GettingChunk";
    console.log(prompt);
    prompt = "";
  }

  onMount(() => {
    ws = new WebSocket("ws://127.0.0.1:6969");
    onChangeWs(ws);
  });
</script>

<div class="flex justify-center pt-10 pb-4 h-screen overflow-hidden">
  <div class="flex flex-col mr-4">
    <label for="systemPrompt" class="block text-gray-500 text-sm font-bold mb-2"
      >System Prompt:</label
    >
    <textarea
      id="systemPrompt"
      bind:value={system_message}
      class="h-72 shadow appearance-none border rounded w-64 py-3 px-3 text-gray-500 leading-tight focus:outline-none focus:shadow-outline"
      rows="5"
    />
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2"
      on:click={set_system_message}
      >Submit</button
    >
    <div class="flex justify-center mt-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" on:click={new_session}>Start New Conversation</button>
    </div>
  </div>
 
  <div class="bg-gray-800 flex flex-col shadow-lg rounded-lg p-6 w-1/2 h-full">
    <div class="flex-grow overflow-y-auto">
      <div class="flex flex-col gap-2">
        {#each message_history as message, index}
          {#if index % 2 == 0}
            <div
              class="self-end bg-blue-500 text-white p-3 rounded-lg max-w-m"
            >
              {message}
            </div>
          {:else}
            <div
              class="self-start bg-green-500 text-white p-3 rounded-lg max-w-m"
            >
              {message}
            </div>
          {/if}
        {/each}
        {#if curr_state === "GettingChunk"}
          <span
            class="self-start bg-green-500 text-white p-3 rounded-lg max-w-m"
            >{response_chunk}</span
          >
        {/if}
      </div>
    </div>

    <div class="flex mt-4">
      <textarea
        id="inputPrompt"
        disabled={curr_state=="GettingChunk"}
        class="shadow appearance-none border rounded flex-grow py-2 px-3 text-gray-400 leading-tight focus:outline-none focus:shadow-outline"
        bind:value={prompt}
        placeholder="Type your message..."
        on:keypress={(evt) => {
          if (evt.key === "Enter") submitPrompt();
        }}
      />
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2"
        on:click={submitPrompt}>Send</button
      >
    </div>
  </div>
</div>
